@font-face {
    font-family: titleFont;
    src: url(fonts/Cavalier.ttf);
}

body {
    background-color: #fffdf5;
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 55px;
    margin: 0 0 0 0;
    color:#9d40bf;
}

h2{
    font-size: 28px;
    justify-self: center;
    margin: 5px 0 20px 0;
    color:#9d40bf;
}

h3 {
    font-size: 36px;
    justify-self: center;
    margin: 5px 0 0 20px;
    color: #C085D6;
}

strong {
    font-size: 17px;
}

/* gen title */
.title {
    font-family: titleFont;
    font-weight: lighter;
    font-kerning: none;
}

/* gen text content */
.content {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1350px;
} 


/* gen boxes background */
.background {
    width: 100%;
    height: auto;
    background-color: #D2A7E2;
    box-shadow: 10px 10px #C085D6;
    margin: 15px 0 15px 0;
    border-radius: 25px;
    padding: 2.5%;
}

/* gen table */
table {
    width: auto;
    border-radius: 25%;
}

table.content {
    margin: 5px
}

table.content th {
    background-color: #C085D6;
    font-weight: lighter;
    text-align: left;
}

table.content th, td {
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #C085D6;
}

/* footer */
footer {
    width: 100%;
    background-color: #D2A7E2;
    padding: 15px 0 25px 0;
}

footer.fcontent {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #9d40bf;
}

footer div {
    margin: 0 35px 0 35px;
}

footer a {
    color: #9d40bf;
    text-decoration: none;
}

/* flexgrid */
.flexLayout {
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}



/* gridgrid */
.gridLayout {
    display: grid;
    grid-template-columns: 332px 1fr;;
    justify-content: center;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    gap: 60px;
}

.box {
    padding: 0px;
}

.full {
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 1500px;
}

/* header */
.header {
    background-color: #D2A7E2;
    border-radius: 0px 0px 60px 60px;
    height: 110px;
    width: auto;
    box-shadow: 10px 10px #C085D6;
    margin: 0 0 0 -8px;
}

.headerLogo {
    display: flex;
    float: left;
    position: relative;
    margin-top: 15px;
    margin-left: 45px;
}

/* header searchbar */
.searchbar input[type=text] {
    float: right;
    padding: 8px;
    padding-left: 16px;
    border: none;
    border-radius: 25px;
    background-color: #fffdf5;
    margin-top: 32px;
    margin-right: 32px;
    font-size: 16px;
}

/* header drop down menu */
.dropdownmenu {
    margin-top: 25px;
    margin-right: 25px;
    position: relative;
    float: right;
}

.dropdownbtn {
    float: right;
    background-color: #D2A7E2;
    color: #FFFDF5;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdowncontent {
    display: none;
    position: absolute;
    border-radius: 25px;
    background-color: #fffdf5;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 25px;
}

.dropdowncontent a:hover {
    background-color: #fffdf5;
}

.dropdownmenu:hover .dropdowncontent {
    display: block;
}

.dropdownmenu:hover .dropdownbtn {
    background-color: #D2A7E2;
}

/* index booking form */
.forms {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    max-width: 300px;
    margin-top: 150px
}

.mpbooking {
    display: flex;
    align-self: center;
    align-items: left;
    margin-left: 10px;
    flex-direction: column;
}

.mpbooking .content {
    font-family: titleFont;
    font-size: 24px;
    color: #9d40bf;
    margin: 16px 0 0 8px;
}

.mpbooking .content label {
    margin-left: 10px;
}

.mpbooking .content input {
    font-size: 16px;
    border: none;
    border-radius: 25px;
    width: 100%;
    max-width: 180px;
    margin-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #fffdf5;
}

.mpbookingbtn {
    font-size: 16px;
    width: auto;
    max-width: 250px;
    align-self: center;
    margin: 23px 0 0 0;
    border: none;
    border-radius: 25px;
    background-color: #fffdf5;
    color: #9d40bf;
}

/* Welcome Section */
.welcome {
    display: flex;
    flex-basis: 1050px;
    margin: 50px 0 0 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
}

.welcome .content {
    width: 100%;
    max-width: 1050px;
    margin-top: 15px;
    flex-direction: column;
}

/* residents */
.catpics {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    max-width: 300px;
    margin-top: 150px
}

.catpics img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    margin-top: 15px;
}

/* impressum etc */
.infos {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

/* about us page */
.aboutus {
    width: 100%; 
    max-width: 1250px;
    margin-top: 70px;
}

.aboutus img {
    width: 320px;
    border: 6px solid #D2A7E2;
    border-radius: 25px;
    margin-top: 12px;
}
