/* F9ECF9, F2D8F2, E2A7E2
    F5ECF9, EBD8F2, D2A7E2, C085D6 <<<<<<<<
    FFFDF5
    */

@font-face {
    font-family: titleFont;
    src: url(fonts/Cavalier.ttf);
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(images/1x/mf_bg.png);
    background-position: top left;
    background-color: #fffdf5;
    margin: 0;
    width: 100%;
}

h1 {
    font-family: titleFont;
    font-weight: lighter;
    font-size: 55px;
    margin: 0 0 0 0;
    color:#9d40bf;
}

h2 {
    font-family: titleFont;
    font-weight: lighter;
    font-size: 28px;
    justify-self: center;
    margin: 5px 0 20px 0;
    color:#9d40bf;
}

h3 {
    font-family: titleFont;
    font-weight: lighter;
    font-size: 36px;
    justify-self: center;
    margin: 5px 0 0px 0;
    color: #C085D6;
}

footer {
    width: 100%;
    background-color: #D2A7E2;
    padding: 15px 0 25px 0;
}

/* footer content */
.footercontent {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #9d40bf;

}

.footercontact {
    margin: 0 35px 0 35px;
}

.footerstuff {
    margin: 0 35px 0 35px;
}

.footerlinks {
    margin: 0 35px 0 35px;
}

.footerlinks a {
    color: #9d40bf;
    text-decoration: none;
}

.indexLayout {
    display: flex;
    justify-content: space-evenly; /* verteilt links / mitte / rechts */
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

/* header */
.header {
    background-color: #D2A7E2;
    border-radius: 0px 0px 60px 60px;
    height: 110px;
    width: auto;
    box-shadow: 10px 10px #C085D6;
    margin: 0 0 0 -8px;
}

.headerLogo {
    display: flex;
    float: left;
    position: relative;
    margin-top: 15px;
    margin-left: 45px;
}

/* header searchbar */
.searchbar input[type=text] {
    float: right;
    padding: 8px;
    padding-left: 16px;
    border: none;
    border-radius: 25px;
    background-color: #fffdf5;
    margin-top: 32px;
    margin-right: 32px;
    font-size: 16px;
}

/* header login 
.login {
    margin-top: 25px;
    margin-right: 25px;
    position: relative;
    float: right;
}

.login a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    float: right;
    background-color: #D2A7E2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
*/

/* header drop down menu */
.dropdownmenu {
    margin-top: 25px;
    margin-right: 25px;
    position: relative;
    float: right;
}

.dropdownbtn {
    float: right;
    background-color: #D2A7E2;
    color: #FFFDF5;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdowncontent {
    display: none;
    position: absolute;
    border-radius: 25px;
    background-color: #fffdf5;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdowncontent a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 25px;
}

.dropdowncontent a:hover {
    background-color: #fffdf5;
}

.dropdownmenu:hover .dropdowncontent {
    display: block;
}

.dropdownmenu:hover .dropdownbtn {
    background-color: #D2A7E2;
}

/* index booking form */
.forms {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    max-width: 300px;
}

.formsbg {
    float: inherit;
    background-color: #D2A7E2;
    box-shadow: 10px 10px #C085D6;
    margin: 15px 0 0 0;
    border-radius: 25px;
    padding-bottom: 20px;
}

.formstitle {
    font-kerning: none;
    margin: 150px 0 0 20px;
}

.formstitle p {
    font-family: titleFont;
    font-size: 36px;
    color: #C085D6;
    margin: 0 0 0 23px;
}

.mpbooking {
    display: flex;
    align-self: center;
    align-items: left;
    margin-left: 10px;
    flex-direction: column;
}

.mpbookingcontent {
    font-family: titleFont;
    font-size: 24px;
    color: #9d40bf;
    margin: 16px 0 0 8px;
}

.mpbookingcontent label {
    margin-left: 10px;
}

.mpbookingcontent input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    width: 100%;
    max-width: 180px;
    margin-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #fffdf5;
}

.mpbookingbtn {
    font-size: 16px;
    width: auto;
    max-width: 250px;
    align-self: center;
    margin: 23px 0 0 0;
    border: none;
    border-radius: 25px;
    background-color: #fffdf5;
    color: #9d40bf;
}

/* Welcome Section */
.welcome {
    display: flex;
    flex-basis: 1050px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
}

.welcomebg {
    max-width: 1050px;
    width: 100%;
    padding: 23px;
    height: auto;
    background-color: #D2A7E2;
    box-shadow: 10px 10px #C085D6;
    border-radius: 25px;
    padding-bottom: 25px;
}

.welcometitle {
    margin: 50px 0 0 0;
    justify-items: center;
    font-family: titleFont;
    color:#9d40bf;
    font-kerning: none;
}

.welcomecontent {
    width: 100%;
    max-width: 1050px;
    margin-top: 15px;
    flex-direction: column;
}

.welcometext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table {
    width: auto;
    border-radius: 25%;
}

.tablecontent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 5px
}

.tablecontent th {
    background-color: #C085D6;
    font-weight: lighter;
    text-align: left;
}

.tablecontent th, td {
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #C085D6;
}

.welcomecontent p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


/* residents */
.catpics {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 2;
    width: 100%;
    max-width: 300px;
}

.catpicstitle {
    font-kerning: none;
    margin: 150px 0 0 20px;
}

.catpicstitle p {
    font-family: titleFont;
    font-size: 36px;
    color: #C085D6;
    margin: 0 0 0 0;
}

.catpics img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    margin-top: 15px;
}

/* about us page */
.aboutus {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    margin-top: 70px;
}

.aboutusbg {
    width: 1100px;
    padding: 23px;
    height: auto;
    background-color: #D2A7E2;
    box-shadow: 10px 10px #C085D6;
    border-radius: 25px;
}

.aboutus aside {
    align-items: flex-end;
}

.aboutus img {
    width: 250px;
    border-radius: 13%;
}

.aboutus h2 {
    justify-items: left;
    font-family: titleFont;
    font-weight: lighter;
    font-size: 55px;
    margin: 0 0 0 0;
}

.aboutustext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 950px;
    justify-self: center;
}

.aboutustext article {
    justify-self: center;
}

.rooms {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    margin-top: 50px;
}

.roomsbg {
    width: 1100px;
    padding: 23px;
    height: auto;
    background-color: #D2A7E2;
    box-shadow: 10px 10px #C085D6;
    border-radius: 25px;
}

.roomstext {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.residents {
    
}



/* impressum */
.infos {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.infosbg {
    width: 100%;
    max-width: 1300px;
    background-color:#D2A7E2;
    border-radius: 25px;
    padding: 23px;
    color: #9d40bf;
}

.infoscontent {
    width: 100%;
    max-width: 1050px;
    margin-top: 15px;
    flex-direction: column;
}

.infosbg b {
    font-size: 16px;
}

.infosbg div {
    padding: 35px;
}

@media (min-width: 1500px) {
    
}

@media (max-width: 1500px) {
    
}

@media (max-width: 1200px) {
    
}

@media (max-width: 900px) { 
    
}

@media (max-width: 600px) {

}